<% provide(:title, @user.name) %>
<div data-role="header" <%= render 'shared/style' %>>
  <h1>Profile</h1>
<%= render 'shared/header_buttons' %>

</div>
 
<div data-role="content">



<aside class="span3">
    <section style="float:left">
      <div class="pic">
          <%= avatar_for(@user,170,170) %>
      </div>

      <div id="user_info">
        <h2><%= @user.name %></h2>
        <ul>
          <li>Votos Totales: <strong><%= @user.vote_count(:all) %></strong></li>
          <li>Votos Positivos: <strong><%= @user.vote_count(:up) %></strong></li>
          <li>Votos Negativos: <strong><%= @user.vote_count(:down) %></strong></li>
          <li>Comentarios: <strong><%= @user.posts.count %></strong></li>
          <li></li>
        </ul>
      </div>


    </section>

  </aside>



</div>

