<% provide(:title, 'Lugares') %>

<div id="basic_map" data-role="page" data-url="<%= request.path %>">

<div data-role="header">
    <h1><%= full_title('') %></h1>

    <%= link_to 'Vote', vote_path, "data-icon" => "plus", "class" => "ui-btn-right"%>

    <% if current_user %>
      
      <%= link_to current_user.name, current_user %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <a href="/auth/facebook" data-ajax="false" class="ui-btn-left">Login</a>
    <% end %>

  
</div>




<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

 <div data-role="navbar">
  <ul>
   <li><%= link_to 'Hace 1 hora', venues_path(:time => "1"), "class" => "ui-btn-active ui-state-persist" %></li>
   <li><%= link_to '1 día', venues_path(:time => "2") %></li>
   <li><%= link_to 'Siempre', venues_path(:time => "3") %></li>
  </ul>
</div><!-- /navbar -->
<div data-role="content">



  <ul data-role="listview">
    <% @venues.each do |venue| %>
    <li>
      <%= link_to venue.title, venue %>
       votes a favor<%= venue.votes_for %>
        votes against <%= venue.votes_against %>
 
  <% if signed_in? %>
    <% if current_user.admin? || current_user?(venue.user)%>
      | <%= link_to "delete", venue, method: :delete,
                                    data: { confirm: "You sure?" } %>

        <%= link_to 'edit venue', edit_venue_path(venue), "data-icon" => "gear" %>
    <% end %>


  <% end %>


    </li>
    <% end %>
  </ul>
</div>


<div data-role="footer">
</div>


</div>