


	
	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
	<div id="page">
		<div id="header-bg"></div>
		<div id="patern"></div>
		<div id="page-view">
			
	       			<%= render 'shared/header' %>

					<%= render 'shared/menu' %>

			<!-- Main -->
			<div id="main" class="site-main container_12">
				

				
				<!-- Right Column / Widget area -->
				<div id="secondary" class="grid_4 widget-area" role="complementary">
					<!-- Widget list -->
					<aside id="WPlookCD" class="widget">
						<header class="entry-header">	
							<h1 class="entry-title">Lugares En llamas ahora</h1>
							<div class="clear"></div>
						</header>
						<ul>
							<% @venues.each do |venue| %>




							<li>
								<div >
								<a href="<%= venue_url(venue) %>" title="<%= venue.title %>", target="_self">		

					            <img src="/assets/temp/80x80.jpg" alt="">

	
								<table border="1" style="width:75%">
								<tr >
								<td style="font-size: 17px;" ><%= truncate(venue.title , length: 20, :separator => ' ')%></td>
								<td style="float:right;">

								<div class="list-star" id="star_<%= venue.id %>"></div>
								</td>
								</tr>
								<tr>
								<td><i class="icon-comment"></i>
										 <span><%= " #{venue.posts.count}" %> Comentarios</span></td>
								<td style="text-align:right; font-size:22px; "> <span>
										 	ver <i class="icon-hand-right"></i> 
										 </span></td>
								</tr>
								</table> 

								</a>
								</div>
							</li>


<script>

$( document ).ready(function() {

  $('#star_'+<%= venue.id %>).raty({
    readOnly: true,
    score: <%= venue.average_rating %>,
  
    path: '/assets'
  });



});

</script>


 							<% end %>

						</ul>
					</aside>
					
					<!-- Widget CD -->

				</div>
				
				<div class="clear"></div>
			</div>

	       			<%= render 'shared/footer' %>
		</div>
	</div>