<% provide(:title, @venue.title) %>
<% provide(:page, "show_venue") %>

    <script type="text/javascript">

    function geolocalize(){



            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                    initialize(position.coords.latitude,position.coords.longitude);
                });
            }
    }


    

    function initialize(lat,lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        var minZoomLevel = 18;
        var myOptions = {
            zoom: minZoomLevel,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"You are here!"
        });

        document.getElementById('venue_lat').value=lat;
        document.getElementById('venue_lng').value=lng;
        $('#map_canvas').show();
    }

    

    </script>




       
        <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

  <div id="progress-back" class="load-item">
    <div id="progress-bar"></div>
  </div>
  <div id="page">
    <div id="header-bg"></div>
    <div id="patern"></div>
    <div id="page-view">
      


      <%= render 'shared/header' %>

          <%= render 'shared/menu' %>


      <!-- Main -->
      <div id="main" class="site-main container_12">


          <!-- Left column -->
        <div id="primary" class="grid_8">


          <!-- Posts -->
        <article class="single-post">
            <header class="entry-header">
              <h1 class="entry-title">Agregar Lugar</h1>
              <div class="clear"></div>
            </header>
 
            <div class="entry-meta">
               <% if signed_in? %>
                   <div data-role="content-edit">
                       <%= form_for @venue  do |f| %>
                       <%= f.label "¿Estás en el lugar? ", "class"=>"form-label" %><div><span class="geo" onclick="geolocalize()"><i class="icon-map-marker"></i> Geolocalizate</span></div> 
                      

                      <div id="map_canvas" style="height:200px; width:100%; display:none; "></div>


                       <p id="place-label"><%= f.label "Nombre del lugar", "class"=>"form-label" %>
                       <%= f.text_field :title, placeholder: "ej: La Cantina de Moe", "class"=>"text-field-form" %></p>
                        <%= f.hidden_field :lat, :value => "" %>
                        <%= f.hidden_field :lng, :value => "" %>

                    </div>
                <% end %>
                 <p><a id="butt" href="#">Agregar</a></p>
               
                <% else %>
                    <span>Para agregar </span>
                    <a href="/auth/facebook" data-role="button" data-ajax="false" data-mini="true" data-inline="true" data-icon="grid" data-iconpos="right">Ingresar</a>
                <% end %>



                  <div class="clear"></div>
            </div>
            

             

            <div >



              <div class="clear"></div>
                <nav></nav>
            </div>

          </article>          


        <div class="clear"></div>
        </div>
        </div>
        <%= render 'shared/footer'%>
    </div>
  </div>