<% provide(:title, @venue.title) %>
<% provide(:page, "show_venue") %>

  <div data-role="header" <%= render 'shared/style' %>>

  <script type="text/javascript">




          function initialize() {


           

            document.getElementById('map-canvas').style.display = "";


             // This is the minimum zoom level that we'll allow
             var minZoomLevel = 15;
             var latlng = new google.maps.LatLng(<%= @venue.lat %>, <%= @venue.lng %>);
             var map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: minZoomLevel,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
             });

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"You are here!"
            });

            google.maps.event.trigger(map, 'resize');
          }


  </script>

    <h1>Lugar</h1>
      <%= render 'shared/header_buttons' %>

  </div>
   
  <div data-role="content">

    <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <aside>
       <section>

          <h1> <%= @venue.title %> </h1>
         
        </section>
    </aside>
    <aside class="span4">
      <section>


        <div class="stats">
          <a href=""onclick="initialize()">Ver Mapa</a>
       <div id="map-canvas" style="width=100%; height:300px; display:none;"></div>  
          <p>Votos últimas 3 horas </p>

          <strong class="votes"><%=" Votos Netos #{@total_votes.count}" %></strong>
          <strong> | </strong>
          <strong class="votes"><%=" Entretenidos #{@positive_votes.count}" %></strong>
          <strong> | </strong>
          <strong class="votes"><%="Aburridos #{@negative_votes.count}" %></strong>

        </div>


      </section>

    </aside>
          <% if signed_in? %>
            <% if current_user.admin? || current_user?(@venue.user)%>
              <%= link_to "delete", @venue,  "data-role"=>"button", "data-mini"=>"true", "data-inline"=>"true", "data-icon"=>"delete", "data-iconpos"=>"right", method: :delete, 
                                            data: { confirm: "You sure?" } %>
                <%= link_to 'edit venue', edit_venue_path(@venue), "data-role"=>"button", "data-mini"=>"true", "data-inline"=>"true", "data-icon"=>"gear", "data-iconpos"=>"right" %>
            <% end %>
          <% end %>
   

<section class="center">
      <% if signed_in? %>

      <p>Si estás dentro del lugar, califícalo</p>

      <%= link_to("Entretenido", vote_up_venue_path(@venue), :method => :post, "data-role"=>"button", "data-inline"=>"true", "data-theme"=>"b", "data-icon"=>"arrow-u", "style"=>"width:150px", "data-iconpos"=>"right") %>
      <%= link_to("Aburrido", vote_down_venue_path(@venue), :method => :post, "data-role"=>"button", "data-inline"=>"true", "data-theme"=>"b", "data-icon"=>"arrow-d", "style"=>"width:150px") %>

      <% end %>
</section>



<!--
<div class="span8">
      <% if @venue.posts.any? %>
        <h3>POsts (<%= @venue.posts.count %>)</h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
</div>

-->












<% if signed_in? %>
    <div class="facebook_comments">
    <div class="fb-comments" data-href="<%= request.original_url %>" data-width="300"></div>
    </div>
<% else %>
<span>Para ver los comentarios de los demás y votar ingresa</span>
    <a href="/auth/facebook" data-role="button" data-ajax="false" data-mini="true" data-inline="true" data-icon="grid" data-iconpos="right">Ingresar</a>
<% end %>

        

  </div>






