<% provide(:title, @venue.title) %>
<div data-role="header">
  <h1><%= @venue.title %></h1>
  <%= link_to 'Home', venues_url, "class" => "ui-btn-right" %>
  <%= link_to 'Back', venues_url, "class" => "ui-btn-left" %>
</div>
 
<div data-role="content">

  <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= @venue.body %>
  <%= link_to('vote up', vote_up_venue_path(@venue), :method => :post) %>
  <%= link_to('vote down', vote_down_venue_path(@venue), :method => :post) %>
  


  aqui es total en contra 

<%=  @venue.votes_against%>


y a favor

<%=  @venue.votes_for%>

<% if signed_in? %>
<%= render 'shared/post_form' %>
<% end %>

  <div class="span8">
    <% if @venue.posts.any? %>
      <h3>POsts (<%= @venue.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>




</div>

<div>


