<% provide(:title, @venue.title) %>
<% provide(:page, "show_venue") %>

<script type="text/javascript">

          function initialize() {

            document.getElementById('map-canvas').style.display = "";


             // This is the minimum zoom level that we'll allow
             var minZoomLevel = 15;
             var latlng = new google.maps.LatLng(<%= @venue.latitude %>, <%= @venue.longitude %>);
             var map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: minZoomLevel,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
             });

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"You are here!"
            });

            google.maps.event.trigger(map, 'resize');
          }
       

  </script>

    
        <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>


  <div id="page">
    <div id="header-bg"></div>
    <div id="patern"></div>
    <div id="page-view">
      

          <%= render 'shared/header' %>

          <%= render 'shared/menu' %>
   


      <!-- Main -->
      <div id="main" class="site-main container_12">


          <!-- Left column -->
        <div id="primary" class="grid_8">
          
          <!-- Posts -->
          <article class="single-post">
            <header class="entry-header">
              <h1 class="entry-title"><%= @venue.title %></h1>
              <div class="clear"></div>
            </header>

            <div class="entry-meta">
                <div style="display:block" class="category-selected fleft map"><span class="geo" onclick="initialize()"><i class="icon-map-marker"></i> Ver Ubicación</span></div>
                <div id="map-canvas" style="width=100%; height:300px; display:none;"></div>  
                <div id="score">Calificación últimas 3 horas: </div>

                <div>

                <span class="likes fright"><i class="icon-star"></i> <%="#{@positive_votes.count- @negative_votes.count}" %> puntos  </span>

                <span class="views fright"> = <i class="icon-fire"></i> <%="#{@positive_votes.count}" %></span>
                <span class="views fright"> - <i class="icon-trash"></i> <%="#{@negative_votes.count}" %></span>
              </div>


              <div class="clear"></div>
            </div>
            

             

            <div >



              <div class="clear"></div>

             <% if signed_in? %>
              <div style="text-align:Center;">
                 <div> 
              <% if signed_in? %>
                <% if current_user.admin? || current_user?(@venue.user)%>
                  <%= link_to "Eliminar", @venue,  "data-role"=>"button", method: :delete, 
                                                data: { confirm: "You sure?" } %>                          
                    <%= link_to 'Editar', edit_venue_path(@venue), "data-icon" => "gear" %>
                <% end %>
              <% end %>

                  <p id="data-vote" style="color:#888888; display: clear;">SI estás en este lugar, Vota!</p>
                  <div>
                    <%= form_tag vote_up_venue_path(@venue), :name => "voteUpForm" do %>
                    <button id="vote_up" class="vote_button btn btn-large btn-primary btn-sample"><i class=icon-fire></i> En Llamas</button>
                    <% end %>

                    <%= form_tag vote_down_venue_path(@venue), :name => "voteDownForm" do %>
                    <button id="vote_down" class="vote_button btn btn-large btn-primary btn-sample"><i class=icon-trash></i> Aburrido</button>
                    <% end %>
                  </div>

                  </div>
              </div>
             <% end %>

                <nav></nav>
            </div>

          </article>
          <!-- Widget CD -->

          <aside id="WPlookCD" class="widget">
            <header class="entry-header"> 
              <h1 class="entry-title">Comentarios (<%= @venue.posts.count %>)</h1>
              <div class="clear"></div>
           
            </header>
            <ul>

              <% if signed_in? %>
              <li class="comment-box-li" style="background:#333333; text-align:top;  ">
               
                  <%= render 'shared/post_form'%>
              
              </li>
             <% end %>

          <% if @posts.any? %>

            <% @posts.each do |post| %>   
    
              <li class="comment-item">
                <a href="#" title="Comentario">
                  <%= avatar_for(post.user,80,80) %>
                  <h1 class="entry-title"><%= link_to(post.user.name, post.user) %></h1>
                  <h2 class="entry-description" ><%= post.content %></h2>
                  <h3 > Posted <%= time_ago_in_words(post.created_at) %> ago.</h3>
                  <h3 >
                    <% if signed_in? %>
                      <% if current_user?(post.user) %>
                     
                        <%= link_to "Eliminar", post, method: :delete, "class" =>"delete", data: { confirm: "¿Seguro?" }, title: post.content %>
                                                     
                      <% end %>
                    <% end %>
                  </h3>



                  <div class="clear"></div>
                </a>
              </li>
            <% end %>

          <% end %>
             
              
       
            </ul>


              <div class="clear"></div>

                <nav class="entry-pagination" id="nav-posts">
                  


                  <div class="clear"></div>

                </nav><!-- #nav -->    


          </aside>
          

          <!-- Widget  -->
        </div>

        </div>  <!-- Main  -->

<footer class="site-footer container_12">
  <div id="site-info" class="grid_12"><div class="margins"> <%= will_paginate @posts %></div></div>
</footer>



        <div class="clear"></div>
        <%= render 'shared/footer' %>
    </div>
  </div>