<% provide(:title, @venue.title) %>
<% provide(:page, "show_venue") %>

<script type="text/javascript">

          function initialize() {

            document.getElementById('map-canvas').style.display = "";


             // This is the minimum zoom level that we'll allow
             var minZoomLevel = 15;
             var latlng = new google.maps.LatLng(<%= @venue.latitude %>, <%= @venue.longitude %>);
             var map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: minZoomLevel,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
             });

            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title:"You are here!"
            });

            google.maps.event.trigger(map, 'resize');
          }
       

  </script>


<script>


 function set_score_comment(score_value) {

     switch (score_value) {
         case (1):
          $('#vote-message').text('Aburrido como ostra');
         break;
         case (2):
          $('#vote-message').text('Prefiero contar ovejas');
         break;
         case (3):
          $('#vote-message').text('Está que prende');
         break;
         case (4):
          $('#vote-message').text('Tan bueno que me quemo');
         break;
         case (5):
          $('#vote-message').text('¡Traigan agua que está en llamas!');
         break;
         default:
          $('#vote-message').text('Si estás en este lugar, vota!');
      }


 }

$( document ).ready(function() {
  <% if signed_in? %>
  set_score_comment(<%= @venue.current_user_rating(current_user.id)%>);
  <% end %> 

  $('#star').raty({
    readOnly: true,
    score: <%= @venue.average_rating %>,
    path: '/assets/mini'
  });

<% if !@rating.blank? %>
  $('#user_star').raty({
    score: <%= @rating.score %>,
    width:250,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });


        set_score_comment(score);


    }
  });

<% end %>

});

</script>



    
        <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>


  <div id="page">
    <div id="header-bg"></div>
    <div id="patern"></div>
    <div id="page-view">
      

          <%= render 'shared/header' %>

          <%= render 'shared/menu' %>
   


      <!-- Main -->
      <div id="main" class="site-main container_12">


          <!-- Left column -->
        <div id="primary" class="grid_8">
          
          <!-- Posts -->
          <article class="single-post">
            <header class="entry-header">
              <h1 class="entry-title"><%= @venue.title %></h1>

            
            <div style="float:right; margin-top:5px;" id="star"></div>

            <div class="clear"></div>
            </header>
            <div style="height:40px; margin-bottom:20px; background:#888888">
               
                 <% if signed_in? %>
                  <div ><span style="float:Left; color: #ffffff; margin-top:10px; margin-left:10px;" >Tu voto</span>
                  </div>
              <% end %>

                <div ><span style="float:Right;" class="geo" onclick="initialize()"><i class="icon-map-marker"></i> Ver Ubicación</span></div>

            </div>

            
            <div id="map-canvas" style="width=100%; height:300px; display:none; margin-bottom:20px;"></div>  
             

            <div >



              <div class="clear"></div>

             <% if signed_in? %>
              <div style="text-align:Center;">
                 <div style="text-align:center;"> 
              <% if signed_in? %>
                <% if current_user.admin? || current_user?(@venue.user)%>
                  <%= link_to "Eliminar", @venue,  "data-role"=>"button", method: :delete, 
                                                data: { confirm: "You sure?" } %>                          
                    <%= link_to 'Editar', edit_venue_path(@venue), "data-icon" => "gear" %>
                <% end %>
              <% end %>


 

                <div id="user_star"></div>
                 <span id="vote-message"></span>




              </div>
            </div>
             <% end %>

                <nav></nav>
            

          </article>
          <!-- Widget CD -->

          <aside id="WPlookCD" class="widget">
            <header class="entry-header"> 
              <h1 class="entry-title">Comentarios (<%= @venue.posts.count %>)</h1>
              <div class="clear"></div>
           
            </header>
            <ul>

              <% if signed_in? %>
              <li class="comment-box-li" style="background:#333333; text-align:top; margin-bottom:20px; ">
               
                  <%= render 'shared/post_form'%>
              
              </li>
             <% end %>

          <% if @posts.any? %>

            <% @posts.each do |post| %>   
    
              <li class="comment-item">
                <a href="#" title="Comentario">
                  <%= avatar_for(post.user,80,80) %>
                  <h1 class="entry-title"><%= link_to(post.user.name, post.user) %></h1>
                  <h2 class="entry-description" ><%= post.content %></h2>
                  <h3 > Posted <%= time_ago_in_words(post.created_at) %> ago.</h3>
                  <h3 >
                    <% if signed_in? %>
                      <% if current_user?(post.user) %>
                     
                        <%= link_to "Eliminar", post, method: :delete, "class" =>"delete", data: { confirm: "¿Seguro?" }, title: post.content %>
                                                     
                      <% end %>
                    <% end %>
                  </h3>



                  <div class="clear"></div>
                </a>
              </li>
            <% end %>

          <% end %>
             
              
       
            </ul>


              <div class="clear"></div>

                <nav class="entry-pagination" id="nav-posts">
                  

                  <div class="clear"></div>

                </nav><!-- #nav -->    


          </aside>
          

          <!-- Widget  -->
        </div>

        </div>  <!-- Main  -->

<footer class="site-footer container_12">
  <div id="site-info" class="grid_12"><div class="margins"> <%= will_paginate @posts %></div></div>
</footer>



        <div class="clear"></div>
        <%= render 'shared/footer' %>
    </div>
  </div>