	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
	<div id="page">
		<div id="header-bg"></div>
		<div id="patern"></div>
		<div id="page-view">
			


	       			<%= render 'shared/header' %>

					<%= render 'shared/menu' %>


			
			<!-- Main -->
			<div id="main" class="site-main container_12">
				

				
				<!-- Right Column / Widget area -->
				<div id="secondary" class="grid_4 widget-area" role="complementary">
					<!-- Widget list -->
					<aside id="WPlookCD" class="widget">
						<header class="entry-header">	
							<h1 class="entry-title">Resultado de Búsqueda</h1>
							<div class="clear"></div>
						</header>
						<ul>
					<% if @venues.empty?&&@search_flag%>
					   <li><strong>Aún no han llegado los Krowdlers al lugar que buscas...</strong></li>

					<% else %>

							
								<% @venues.each do |venue| %>
								<li>
									<a href="<%= venue_url(venue) %>" title="<%= venue.title %>">
										<img src="/assets/temp/80x80.jpg" alt="">
										<h1 class="entry-title"><%= venue.title %></h1>
										<h2 class="entry-description">Puntuación: <%= "#{venue.get_positive_votes.count-venue.get_negative_votes.count}" %></h2>
										<h3><%="#{venue.get_positive_votes.count}" %>
							                <strong> | </strong>
							                <%="#{venue.get_negative_votes.count}" %>  </h3>
										<div class="clear"></div>
									</a>
								</li>
								<% end %>
							</ul>


	 				<% end %>
					
					</aside>
				</div>

				<div class="grid_12 dark-box">
					<div class="margins">
						Si no encontraste el lugar, 
						<%= link_to "Agrégalo!", new_venue_path, "target"=>"_parent" %>
					</div>
			   </div>	



				
				</div>
				<div class="clear"></div>
			

	       			<%= render 'shared/footer' %>
		</div>
	</div>