	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
	<div id="page">
		<div id="header-bg"></div>
		<div id="patern"></div>
		<div id="page-view">
			


	       			<%= render 'shared/header' %>

					<%= render 'shared/menu' %>




			
			<!-- Main -->
			<div id="main" class="site-main container_12">
				

				
				<!-- Right Column / Widget area -->
				<div id="secondary" class="grid_4 widget-area" role="complementary">
					<!-- Widget list -->
					<aside id="WPlookCD" class="widget">
						<header class="entry-header">	
							<h1 class="entry-title">Resultado de Búsqueda</h1>
							<div class="clear"></div>
						</header>

						<ul>
					<% if @venues.empty?&&@search_flag%>
					   <li><strong>Aún no han llegado los Krowdlers a "<%= @search_value %>"...</strong></li>

					<% else %>

							
					<% @venues.each do |venue| %>
							<li>
								<div >
								<a href="<%= venue_url(venue) %>" title="<%= venue.title %>", target="_self">		

					            <img src="/assets/temp/80x80.jpg" alt="">

	
								<table border="1" style="width:75%">
								<tr >
								<td ><%= truncate(venue.title , length: 20, :separator => ' ')%></td>
								<td style="height:30px; text-align:right">

								<% @votes=venue.get_positive_votes.count-venue.get_negative_votes.count %>

              				    <% if @votes>0%>
                 					 +
                 				 <% end %>
                  				


										 <span><%= @votes %>  <i style="color:#FFBA00;" class="icon-fire"></i>
										 </span></td>
								</tr>
								<tr>
								<td><i class="icon-comment"></i>
										 <span><%= " #{venue.posts.count}" %> Comentarios</span></td>
								<td style="text-align:right; font-size:22px; "> <span>
										 	ver <i class="icon-hand-right"></i> 
										 </span></td>
								</tr>
								</table> 

								</a>
								</div>
							</li>

						<% end %>

						</ul>


	 				<% end %>
					
					</aside>
				</div>

				<div class="grid_12 dark-box">
					<div class="margins">
						Si no encontraste el lugar, 
						<%= link_to "Agrégalo!", new_venue_path(:search_value => @search_value), "target"=>"_parent" %>
					</div>
			   </div>	



				
				</div>
				<div class="clear"></div>
			

	       			<%= render 'shared/footer' %>
		</div>
	</div>