<h1>Listing vote_records</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Venue</th>
      <th>Is yes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vote_records.each do |vote_record| %>
      <tr>
        <td><%= vote_record.user_id %></td>
        <td><%= vote_record.venue_id %></td>
        <td><%= vote_record.is_yes %></td>
        <td><%= link_to 'Show', vote_record %></td>
        <td><%= link_to 'Edit', edit_vote_record_path(vote_record) %></td>
        <td><%= link_to 'Destroy', vote_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote record', new_vote_record_path %>
