<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote_record.user_id %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @vote_record.venue_id %>
</p>

<p>
  <strong>Is yes:</strong>
  <%= @vote_record.is_yes %>
</p>

<%= link_to 'Edit', edit_vote_record_path(@vote_record) %> |
<%= link_to 'Back', vote_records_path %>
